@tailwind base;
@tailwind components;
@tailwind utilities;

//COMPONENTS
@import 'components/sp-menu.scss';

.default {
  li {
    list-style-type: disc;
    margin: 0 0 0 40px;
  }
}

.cover-absolute {
  @apply absolute top-0 left-0 right-0 bottom-0
}

.cover-fixed {
  @apply fixed top-0 left-0 right-0 bottom-0
}

.line-through-block {
  position: relative;

  &:after {
    content: '';
    @apply bg-gray-400 h-[1px] w-full left-0 top-1/2 absolute
  }
}

.splide__track--nav > .splide__list > .splide__slide {
  border-radius: 10px;
}
